<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body> <%- include('../partials/header_2') %>
    <div class="container-fluid h-100">
        <div class="row h-100">
          <div class="col bg-secondary">
          </div>
          <div class="wCol col-10 col-sm-10 col-md-8 col-lg-6 col-xl-5">
            <%- include('../partials/header_prog') %>
            <div id='divMainDialog'></div>
            <div id='drugChooser'></div><br>
           <datalist id="dlstList_1">
           </datalist>
           <button type="button" class="btn btn-primary" id="btnOne">Принять</button>
        <button type="button" class="btn btn-secondary" id="btnTwo">Выход</button>
        </div>
<div class="col bg-secondary">
</div>
</div>
<%- include('../partials/footer') %>
    <%- include('../partials/scripts') %>
    <script src="/scripts/date_manager.js"></script>
    <script src="/js/vte_watch/vte_drug_list.js"></script>
    <script src="/scripts/modal_alert.js"></script>
    <script src="/js/vte_watch/vte_drug.js" defer></script>
</body>
<html>
